.primary-bg {
  background-color: #fff;
}

.secondary-bg {
  background-color: #F6F6F6;
}

.bg-blue {
  background-color: #1192EE;
}

.bg-red {
  background-color: #EB5656;
}

.bg-yellow {
  background-color: #FFBA42;
}

.bg-green {
  background-color: #2BD480;
}

.bg-darkblue {
  background-color: #022D52;
}










